[Desktop Entry]
Name=Periodic Table
GenericName=Periodic Table
Comment=View the periodic table and element details.
Categories=Science;GTK
Icon=com.pjtsearch.rptable
Exec=com.pjtsearch.rptable
Terminal=false
Type=Application